Variáveis necessárias:

DB_URL = URL do banco
DB_USER = usuário
DB_PASSWORD = senha do banco

Criar e adicionar isso no arquivo .env

Configurar em:
IntelliJ → Run → Edit Configurations → Environment variables